# dependencies
/node_modules

# next.js
/.next
/out

# production
/build

# env files (CRÍTICO 🚨)
/.env
.env.local
.env.development
.env.production

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# IDE
.vscode

# TypeScript
*.tsbuildinfo

# AI / tools (en tu caso)
.agent
.claude
.codex

# misc
coverage

# aider
.aider*

# logs
logs